@import "compass/css3/filter";


.posters{

}



md-grid-list{

}


.md-icon {
  width: 50%;
  height: 50%; }

.s64 {
  font-size: 64px; }
.s32 {
  font-size: 48px; }
.md-icon.fa {
  display: block;
  padding-left: 0px; }
.s32 span {
  padding-left: 8px; }
.md-grid-list {
  margin: 8px; }

.gray {
  background: #f5f5f5; }

.grey{
  background: grey;
}


.md-grid-tile md-icon {
  padding-bottom: 32px; }
.md-grid-tile md-grid-tile-footer {
  background: rgba(0, 0, 0, 0.68);
  height: 24px; }
.md-grid-tile-footer figcaption {
  width: 100%; }
.md-grid-tile-footer figcaption h3 {
  margin: 0px;
  font-weight: 700;
  width: 100%;
  text-align: center;

}





@include keyframes(blur) {
  from {  @include filter(blur(0px));}
  to {  @include filter(blur(8px));}
}


.ng-animate {
  &.ng-enter {
    @include animation(fade-in .2s ease-out);

  }

  &.ng-click {

    //@include animation(fade-out .4s ease-out);
  }
}
